<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head')  %> 
    <title>Add Blog</title>
  </head>
  <body>
    <%-include('partials/header')  %> 
    <div class="container">
      <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <% } %> 
    <form action="/api/blog/add" method="post" enctype="multipart/form-data">
        <div class="mb-3" > 
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="body" name="content" required  style="height: 200px"></textarea>
          </div>
        <div class="mb-3">
          <label for="coverImageUrl" class="form-label">Cover Image</label>
          <input type="file" class="form-control" id="coverImageUrl" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%-include('partials/script')  %>
  </body>
</html>
